@media screen and (max-width: 1200px){
    .container-1{
        height: 190vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        z-index: 2;
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px){
    .container-1{
        height: 180vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh; 
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 900px){
    .container-1{
        height: 170vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 800px){
    .container-1{
        height: 160vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;       
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 700px){
    .container-1{
        height: 150vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 600px){
    .container-1{
        height: 140vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
    .container-1{
        height: 130vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 400px){
    .container-1{
        height: 120vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 300px){
    .container-1{
        height: 110vh;
    }
    nav{
        opacity: 0.9;
        margin-left: 40px;
    }
    .header nav ul li{
        opacity: 0.5;
    }
    .header nav ul li a{
        display: fixed;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
    }
    .header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 20vh;
        
    }
    .scroll{
        opacity: 0;
    }
    .container-1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .container-1 p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 0 30px 0;
    }
    .container-1 .box{
        width: 100%;
        height: 100%;
        background: #0b0d29;
        opacity: 0.8;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
    .container-1 .box .box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .container-1 .box .box-1 .box-1-1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
