*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background:#1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .menu-img{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 160px;
    cursor: pointer;
}
nav ul{
    flex: 1; 
    text-align: right;  
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span{
    display: block;
    height: 26px;
    width: 26px;
    background: #999;
    border-radius: 50%;
    margin: 2px;
    transition: background 0.5s, margin-left 0.5s;
}
.lamp-container{
    width: 200px;
    position: absolute;
    top: 0;
    left: 22%;
}
.lamp{
     width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 50%;
    width: 700px;
    transform: translateX(-50%);
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;

}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
}
.text-container a{
    text-decoration: none;
    background: #26bb9b;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}
.control .line{
    height: 4px;
    width: 250px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}
.control .line span{
    display: block;
    height: 8px;
    width: 50px;
    background: #26bb9b;
    border-radius: 4px;
    margin-top: -2px;
}
.active{
    background: green;
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}
.body{
    background: #1d2026;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.p{
    opacity: 0;
    transition: opacity 0.5s;
}
.on1{
    opacity: 1;
}
.ul{
   font-weight: 700;
}
#btn{
   margin-right: -20px;
}