@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gill+Sans:wght@300;400;500;600;700&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.header{
    width: 100%;
    height: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .navbar{
    width: 100%;
    height: 80px;
    background: #0b0d29;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.header .navbar img{
    width: 50px;
    height: 70px;
    float: left;
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 17%;
    opacity: 0.8;
    cursor: pointer;

}
.header .navbar h1{
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px 0 0 20px;
    font-weight: 500;
}
.header nav ul{
    float: right;
    margin: 30px 0 0 20px;
    margin-right: 40px;
    display: flex;
    list-style: none;

}
.header nav ul li{
    margin: 0 20px;
}
nav ul li a{
    width: 100%;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}
.header nav ul li a{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.header nav ul li a:hover{
    color: #f1c40f;
    transition: 0.9s;
    text-decoration: underline 2px transparent;
}
.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    top: 0;
    left: 0;
    z-index: 2;
    color: aliceblue;
}
.scroll p{
    position: absolute;
    height: 10vh;    
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.scroll img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    animation: scroll 2s infinite;
    background-color: aliceblue;
    border-radius: 50%;
    opacity: 0.8;
}
@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

.scroll-text{
    display: flex;
    justify-content: center;
    align-items: center

}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: #ffffff;
    z-index: 2;
}
.container-1 h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-1 h3{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-1 p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid 2px transparent;
    color: rgb(156 163 175);
}
.container-1 img{
    margin-top: 10px;
    filter: grayscale(100%);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
}
.container-1 img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: 0.9s;
}
.card{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
} 
@media(prefers-reduced-motion){
    .hidden1{
        transition: none;
    }
}
::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-thumb{
    background-color: #595857;
    border-radius: 50px;
    border: 3px solid #323339;
}
::-webkit-scrollbar-track{
    background-color: #323339;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6d6c6c;
}
@supports (scroll-bar-color: red green){
    ::-webkit-scrollbar{
        background-color: #323339;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #595857;
    }
}
.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    z-index: 2;
}
.container-4 h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-4 p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid 2px transparent;
    color: rgb(156 163 175);
}
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    z-index: 2;
}
.container-2 h1{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: #ffffff;
    z-index: 2;
}
.center-bottom img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

}
.center-bottom img:hover{
    background-color: #ffffff;
    transform: scale(1.1);
    transition: 0.9s;
}
.img1 h3{
    opacity: 0;
}
.img1:hover h3{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.9s;
    box-shadow: inset;
}
.img2 h3{
    opacity: 0;
}
.img2:hover h3{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.9s;
}
.img3 h3{
    opacity: 0;
}
.img3:hover h3{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.9s;
}
.img4 p{
    opacity: 0;
    position: relative;
    font-style: italic;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid 2px transparent;
    color: rgb(156 163 175);
}

.img4:hover p{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.9s;
}
.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    z-index: 2;
}
.container-3 h1{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-3 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    margin: 30px;
    border-radius: 10px;
}
.container-3 h3{
    cursor: default;
}
.img4 h3{
    opacity: 0;
}
.img4:hover h3{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.9s;
}
.footer{
    display: flex;
    width: 100%;
    height: 8vh;
    color: #ffffff;
    z-index: 2;
    background-color: #0b0d29;
    opacity: 0.8;
}
.footer span{
    margin-left: 20px;
    margin-top: 19px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid 2px transparent;
    color: rgb(156 163 175);
}
.top img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 1130px;
    background-attachment: fixed;
}
.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    z-index: 2  ;
}
.container-5 h1{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-5 img{
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 10px;
}